/* index.css */
main {
    background-image: url(../images/flower_bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    width:600px; height:800px;
    margin:0 auto;
    text-align:center;
    display:flex; 
    flex-flow:column nowrap;
    align-items:center;
    justify-content:center;
}
main .date {
    display:inline-block;
}
main .date h1 {
    color:#fff;
    margin-bottom:30px;
    font-size:1.375rem;
}
main .date input {
    width:70px;
    margin:0 4px;
}
main .date input[name=year] {
}
main .date input[name=month] {}
main .date input[name=day] {}
main .date span {
    color:#fff;
    font-size:1.063rem;
}
main #result_btn {
    margin:20px 0 40px;
    background:#df6060;
    border-radius:20px;
    width:400px; height:45px;
    color:#fff;
    font-weight:300;
}
main .total {
    background:rgba(255,255,255,0.8);
    color:#000;
    font-size:1.125rem;
    padding:30px;
    width:500px;
    margin:0 auto;
}